/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  padding-top: 48px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  display: flex;
  justify-content: center;
  height: 100%;
}
