:host {
  display: flex;
  background-color: #FF594F;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  color: white;
  justify-content: space-around;
  align-items: center;
}

a {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform .3s ease, opacity .3s ease;
  color: white;
  opacity: .4;
  text-align: center;


  i {
    font-size: 42px;
  }

  .border {
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: transform .5s cubic-bezier(0.28,-0.44, 0.38, 12.75), opacity .3s ease;
    transform: scaleY(0);
    i {
      transform: scale(.4);
    }
  }

  &.active {
    opacity: 1;
    .border {
      transform: scale(1);
      opacity: 1;
    }
    i {
      transform: scale(1);
    }
  }

}
